<div class="row" *ngIf="showPost" id="post">
  <div class="col-12">

    <div class="row mt-4 mb-4">
      <div class="col-12">
        <div class="container">

          <div class="card">
            <div class="card-title text-center mb-4 mt-4">
              <!-- Titulo -->
              <span class="d-block title">{{post.title}}</span>
              <!-- Fecha -->
              <span class="d-block date-post">{{post.date | date: 'dd/MM/yyyy'}}</span>
            </div>
            <!-- Imagen -->
            <img class="card-img-top" [src]="post.img" *ngIf="post.img">
            <div class="card-body">
              <!-- Contenido -->
              <p class="card-text" [innerHTML]="post.content | sanitize"></p>
            </div>
          </div>

        </div>
      </div>
    </div>

    <!-- Lista de comentarios -->
    <div class="row">
      <div class="col-12">
        <div class="container mb-4 mt-4">
          <app-list-comments [idPost]="post.id"></app-list-comments>
        </div>
      </div>
    </div>

    <!-- Dejar un comentario -->
    <div class="row">
      <div class="col-12">
        <div class="container mb-4 mt-4">
          <app-leave-comment [idPost]="post.id"></app-leave-comment>
        </div>
      </div>
    </div>

  </div>
</div>